
 .header, .redes-sociales {
    background-color: #27A603;
    
}

.footer {
    background-color: #AFD9A9;
}

.navbar {
    background-color: #F2F2F2;
}


.btn, .btn:visited, .badge{
    background-color: #44A629;
    color: #ffffff;
    border-color: #ffffff;
}

.btn:hover  {
    background-color: #337e1f;
    color: #ffffff
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #44A629!important;
  }

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #44A629!important;
  }
  